{% extends 'dashboard/index.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Mi perfil</h6>
        </div>
        <div class="card-body">

            {{ include('user/_form.html.twig', {'button_label': 'Guardar'}) }}

        </div>
    </div>
{% endblock %}
