{% extends 'dashboard/index.html.twig' %}

{% block title %}Rack{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Rack</h6>
        </div>
        <div class="card-body">

            <table class="table">
                <tbody>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ rack.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
