<form method="post" action="{{ path('edfa_delete', {'id': edfa.id}) }}" onsubmit="return confirm('¿Estás seguro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ edfa.id) }}">
    <button class="btn btn-danger btn-circle">
        <i class="fas fa-trash"></i>
    </button>
</form>
