{% extends 'dashboard/index.html.twig' %}

{% block title %}EDFA{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">EDFA</h6>
        </div>
        <div class="card-body">

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ edfa.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ edfa.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
