{% extends 'dashboard/index.html.twig' %}

{% block title %}Puerto{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Puerto</h6>
        </div>
        <div class="card-body">

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ olt_port.id }}</td>
                    </tr>
                    <tr>
                        <th>Número</th>
                        <td>{{ olt_port.number }}</td>
                    </tr>
                    <tr>
                        <th>Tarjeta</th>
                        <td>{{ olt_port.oltSlot }}</td>
                    </tr>
                    <tr>
                        <th>Latiguillo EDFA</th>
                        <td>{{ olt_port.latiguilloEdfa }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
