<form method="post" action="{{ path('distribution_box_signal_delete', {'id': distribution_box_signal.id}) }}" onsubmit="return confirm('¿Estás seguro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ distribution_box_signal.id) }}">
    <button class="btn btn-danger btn-circle">
        <i class="fas fa-trash"></i>
    </button>
</form>
