{% extends 'base.html.twig' %}

{% block title %}New DistributionBoxFusion{% endblock %}

{% block body %}
    <h1>Create new DistributionBoxFusion</h1>

    {{ include('distribution_box_fusion/_form.html.twig') }}

    <a href="{{ path('distribution_box_fusion_index') }}">back to list</a>
{% endblock %}
