{% extends 'dashboard/index.html.twig' %}

{% block title %}Nueva Caja de abonado{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nueva Caja de abonado</h6>
        </div>
        <div class="card-body">
            {{ include('subscriber_box/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
