{% extends 'dashboard/index.html.twig' %}

{% block title %}Capa{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Capa</h6>
        </div>
        <div class="card-body">

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ layer_group.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ layer_group.name }}</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td><div style="display:block;width:30px;height:30px;background-color:{{ layer_group.hexaColor }};"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
